.smaller_img {
    width: 512px;
    height: 512px;
}

.prettier_img {
    border-radius: 2%;
    border: 1px solid #777777;
}

.grean_text {
    color: #216a21;
}

.yellow_text {
    color: #ac9132;
}


.red_text {
    color: #9f5555;
}


.colors {
    color: hsl(0, 100%, 75%);
    color: hsl(30, 100%, 75%);
    color: hsl(60, 100%, 75%);
    color: hsl(90, 100%, 75%);
    color: hsl(120, 100%, 75%);
    color: hsl(150, 100%, 75%);
    color: hsl(180, 100%, 75%);
    color: hsl(210, 100%, 75%);
    color: hsl(240, 100%, 75%);
    color: hsl(270, 100%, 75%);
    color: hsl(300, 100%, 75%);
    color: hsl(330, 100%, 75%);

    color: hsl(0, 100%, 65%);
    color: hsl(30, 100%, 65%);
    color: hsl(60, 100%, 65%);
    color: hsl(90, 100%, 65%);
    color: hsl(120, 100%, 65%);
    color: hsl(150, 100%, 65%);
    color: hsl(180, 100%, 65%);
    color: hsl(210, 100%, 65%);
    color: hsl(240, 100%, 65%);
    color: hsl(270, 100%, 65%);
    color: hsl(300, 100%, 65%);
    color: hsl(330, 100%, 65%);

    color: #ff8080;
    color: #ffbf80;
    color: #ffff80;
    color: #bfff80;
    color: #80ff80;
    color: #80ffbf;
    color: #80ffff;
    color: #80bfff;
    color: #8080ff;
    color: #bf80ff;
    color: #ff80ff;
    color: #ff80bf;
    color: #ff4d4d;
    color: #ffa64d;
    color: #ffff4d;
    color: #a6ff4d;
    color: #4dff4d;
    color: #4dffa6;
    color: #4dffff;
    color: #4da6ff;
    color: #4d4dff;
    color: #a64dff;
    color: #ff4dff;
    color: #ff4da6;
}

